h1,h2{
  width: fit-content;
  height: fit-content;
}
.box{
  border: 1px solid black;
  width: 500px;
  margin: 30px;
  padding: 65px;
  display: flex;
  justify-content: center;
}
.item-img{
  width: 400px;
  height: 400px;
}
.main{
  display: flex;
  justify-content: center;

}
.button{
  border: none;
  width: 60px;
  height: 65px;
  background-color: white;
  padding: 0;

}
.button:hover{
  border: 5px solid darkcyan;
}
.img-size{
  width: 50px;
  height: 55px;
}
.win{
  border: 5px solid green; 
  color: green;
}
.lose{
  border: 5px solid red;
  color: red;
}
.tie{
  border: 5px solid darkorange;
  color: darkorange;
}